<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-button>
      <ion-back-button text="">

      </ion-back-button>
    </ion-button>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-pickup-call-card status="hold" updateAt="25/04/2021" createdAt="24/02/2021" notes="we have two bagsa that are full"></app-pickup-call-card>
  <app-pickup-call-card status="Processing" updateAt="XX/xx/XXXX" createdAt="XX/xx/XXXX" notes="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"></app-pickup-call-card>
  <app-pickup-call-card status="Finish" updateAt="XX/xx/XXXX" createdAt="XX/xx/XXXX" notes="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" value="R$ 15.00"></app-pickup-call-card>


</ion-content>