<ion-header  [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>what do you want to do with the Barbar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
     <ion-item>
      <ion-label>I want to BUY it</ion-label>
      <ion-radio value="CLIENT" slot="start"></ion-radio>
     </ion-item>

     <ion-item>
      <ion-label>I want to SELl it</ion-label>
      <ion-radio value="PARTINER" slot="start"></ion-radio>
     </ion-item>

    </ion-card-content>

  </ion-card>


  <ion-card>
    <ion-card-content>
      
      <ion-card-header>
        <ion-card-title>Contact</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-input type="name" label="Name" labelPlacement="stacked" placeholder="Jonh"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" label="Email" labelPlacement="stacked" placeholder="email@email.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Password" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Confir Password" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="tel" label="Tel" labelPlacement="stacked"></ion-input>
      </ion-item>

    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Address Information
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="Address" label="Address" labelPlacement="stacked" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="Number" label="Number" labelPlacement="stacked" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="NaghBorhood" labelPlacement="stacked" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="Complement" labelPlacement="stacked" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="Zip code" labelPlacement="stacked" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="State" labelPlacement="stacked" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" label="City" labelPlacement="stacked" placeholder=""></ion-input>
      </ion-item>
    </ion-card-content>

    
  </ion-card>
  
  <ion-button size="full" color="light">Register</ion-button>

</ion-content>

 