<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-button slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg">
  <ion-card-content>
    <p>Adress : fake street , 222</p>
    <p>Complement: fake apt</p>
    <p>NeighborHood : NeighborHood/p>
    <p>Zip code : 222</p>
  </ion-card-content>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create pickup</ion-button>
</ion-content>
